@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}


html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #090b0d 0%, #0b0c12 100%);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family:"Berkshire Swash";
  
}
.tulu-font{
  font-family: "Berkshire Swash";
}

html::-webkit-scrollbar {
  width: 10px; 
}

html::-webkit-scrollbar-track {
background-color: black;
}

html::-webkit-scrollbar-thumb {
background: #4e4e4e;
border-radius: 25px;
}
.cursor-styles{
  width: 100vh;
}

/* loaders ui */
.container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.loader {
  width: 20px;
  height: 40px;
  border-radius: 10px 50px;
  box-shadow: 0px 0px 5px black;
  animation: dominos 1s ease infinite;
}

.loader:nth-child(1) {
  --left: 80px;
  animation-delay: 0.325s;
  background-color: #5d9960;
}

.loader:nth-child(2) {
  --left: 70px;
  animation-delay: 0.5s;
  background-color: #82a587;
}

.loader:nth-child(3) {
  left: 60px;
  animation-delay: 0.625s;
  background-color: #8bac74;
}

.loader:nth-child(4) {
  animation-delay: 0.74s;
  left: 50px;
  background-color: #b9bf90;
}

.loader:nth-child(5) {
  animation-delay: 0.865s;
  left: 40px;
  background-color: #e7d2ab;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}






