@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.effect{
animation:profile 8s ease-in-out infinite 1s;
}
@keyframes profile{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    
  }
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #090b0d 0%, #0b0c12 100%);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  
}


html::-webkit-scrollbar {
  width: 10px; 
}

html::-webkit-scrollbar-track {
background-color: black;
}

html::-webkit-scrollbar-thumb {
background: #4e4e4e;
border-radius: 25px;
}


.card {
  box-sizing: border-box;
  width: 254px;
  height: 190px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 2rem;
}
.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

/*******************************************************************8 2nd section */

:root {
  font-size: 18px;
  --color-text: #c50404;
  --color-bg: #131417;
  --color-link: #aaa;
  --color-link-hover: #c50404;
  --color-label: #adadad;
  --color-text-alt: #575757;
  --color-caption: #c50404;
}
.gallery-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40vh auto;
  overflow: hidden;
}

.gallery-wrap--auto {
  height: auto;
}

.gallery-wrap--large {
  height: 110vh;
}

.gallery-wrap--dense {
  margin: 0;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
}

.gallery--breakout {
  width: min-content;
}

.gallery__item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  border-radius: 6px;
  position: relative;
  filter: brightness(1);
}

.gallery__item-cut {
  overflow: hidden;
  display: grid;
  place-items: center;
}

.gallery__item-inner {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery--row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  --size-factor: 1.25;
  --item-height: 20vh;
}

.gallery--row .gallery__item {
  width: auto;
  aspect-ratio: 2 / 3;
}

.gallery--row .gallery__item--s {
  height: var(--item-height);
}

.gallery--row .gallery__item--m {
  height: calc(var(--size-factor) * var(--item-height));
}

.gallery--row .gallery__item--l {
  height: calc(var(--size-factor) * 2 * var(--item-height));
}

.gallery--row .gallery__item--xl {
  z-index: 100;
  height: calc(var(--size-factor) * 3 * var(--item-height));
}

.gallery--switch.gallery--row .gallery__item--m,
.gallery--switch.gallery--row .gallery__item--l {
  height: var(--item-height);
}
.hero-background{
  background-color: #090b0d;
  padding: 20px 20px ;
}
.background-image{
  object-fit: cover;
  min-width: 100%;
  height: 100vh;
}
.club-heading{
  color: #afa18f;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.text-club{
  color: #afa18f;
}
.container{
  display: grid;
  grid-template-columns: auto auto;
  min-width: 100vw;
  
}
.container .content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container .club-image{
  width: 50%;
 
}

.cursor{
  width: 50px;
  height: 50px;
  background-color: #afa18f;
  position: fixed;
  border-radius: 50%;
}
.event-heading{
  color: #afa18f;
  display: flex;
  justify-content: center;
  align-items: center;
}