.club-heading{
   color: #afa18f;
  display: flex;
  justify-content: left;
  align-items: center;
}
.text-club{
  color: #afa18f;
}
.container{
  display: grid;
  grid-template-columns: auto auto;
  min-width: 100vw;
  
}
.container .content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container .club-image{
  width: 50%;
 
}
