@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');
:root{
    --flag: 0;
}
.navbar-bg{
    /* From https://css.glass */
/* background: rgba(255, 255, 255, 0.21); */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.alink{
    color: white;
    font-size: 1.00rem ;
    line-height: 1.8;
    letter-spacing: 0.02rem;
    font-family: 'Tilt Warp', sans-serif;
    text-transform: uppercase;
    position: relative;
    transition-duration: 1s; 
}
.alink:hover::before{
    width: 100%;
    /* animation-name: load;
    animation-duration: 0.5s;
    animation-direction: normal; */
}    
.bar-hamburger{
    width: 100%;
    height: 5px;
    background-color: white;
    
}
.hamburger{
    flex-direction: column;
    justify-content: space-between;

}
.alink::before{
    content: "";
    height: 5px;
    width: 0%;
    position: absolute;
    background-color:white;
    bottom: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}    

@keyframes load {
    0%{width: 100%}
    100%{width : 0%}
}
@media screen and (max-width: 768px) {
    .navlist{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        padding-top: 5rem;
        top: 0;
        left: 0;
    }
    .navlist a{
        display: block;
        padding: 1rem;
    }
    .hamburger{
        z-index: 100;
    }
  }
