@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');
:root{
    --flag: 0;
}
.alink{
    color: black;
    font-size: 1.06rem ;
    line-height: 1.8;
    letter-spacing: 0.02rem;
    font-family: 'Tilt Warp', sans-serif;
    text-transform: uppercase;
    position: relative;
    transition-duration: 1s; 
}
.alink:hover::before{
    width: 100%;
    /* animation-name: load;
    animation-duration: 0.5s;
    animation-direction: normal; */
}    
.bar-hamburger{
    width: 100%;
    height: 5px;
    background-color: black;
    
}
.hamburger{
    flex-direction: column;
    justify-content: space-between;

}
.alink::before{
    content: "";
    height: 5px;
    width: 0%;
    position: absolute;
    background-color: black;
    bottom: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}    
@keyframes load {
    0%{width: 100%}
    100%{width : 0%}
}